* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 150px 1fr / 1fr;
    gap: 12px;
    background-color: rgb(212, 212, 212);
}

/* Heading area */
.heading-area {
    height: 150px;
    background-color: rgb(86, 87, 87);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    box-shadow: 0px 5px 10px 0px rgba(87, 85, 85, 0.986);
}

.heading-area > h1 {
    color: white;
    font-size: 42px;
}

.heading-area > button {
    cursor: pointer;
    font-size: 1.5em;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(61, 255, 229, 0.7);
}

/* Form styling */
#book-form {
    width: 400px;
    height: 500px;
    font-size: 1.5em;
    font-family: cursive;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    border: 1px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -155px;
    margin-top: -150px;
    background: linear-gradient(180deg, rgb(220, 215, 200), rgba(100, 110, 100, 0.8));
}

#book-form > #formHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#book-form > input {
    width: 285px;
    height: 30px;
    font-family: cursive;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(221, 221, 221);
}

#book-form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 25px;
    font-size: 1.15rem;
    font-family: cursive;
    cursor: pointer;
    border-radius: 10px;
}

#formHeading > #close-btn {
    cursor: pointer;
    font-weight: 800;
}

#readInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
} 

#readInput > input {
    width: 25px;
    height: 24px;
    cursor: pointer;
}

/* Content area styling */

.content-container {
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

/* Book card styling */
.content-container > #book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1.25em;
    box-shadow: 0px 5px 10px 0px rgba(34, 34, 34, 0.986);
    background: linear-gradient(100deg, rgba(218, 216, 216, 0.8), rgba(230, 236, 233, 0.8));
    gap: 16px;
}

#book-card > #card-details {
    width: 125px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#book-card > #card-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 175px;
    height: 135px;
}

#card-options > button {
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
}
